<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="@{/add}" th:object="${hero}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="gender">Gender</label>
    <input type="text" th:field="*{gender}" id="gender" placeholder="Gender">
    <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
    <label for="eyeColor">Eye Color</label>
    <input type="text" th:field="*{eyeColor}" id="eyeColor" placeholder="Eye Color">
    <span th:if="${#fields.hasErrors('eyeColor')}" th:errors="*{EyeColor}"></span>
    <label for="race">Race</label>
    <input type="text" th:field="*{race}" id="race" placeholder="Race">
    <span th:if="${#fields.hasErrors('race')}" th:errors="*{race}"></span>
    <label for="hairColor">Hair Color</label>
    <input type="text" th:field="*{hairColor}" id="hairColor" placeholder="Hair Color">
    <span th:if="${#fields.hasErrors('hairColor')}" th:errors="*{hairColor}"></span>
    <label for="height">Height</label>
    <input type="text" th:field="*{height}" id="height" placeholder="Height">
    <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
    <label for="skinColor">Skin Color</label>
    <input type="text" th:field="*{skinColor}" id="skinColor" placeholder="Skin Color">
    <span th:if="${#fields.hasErrors('skinColor')}" th:errors="*{skinColor}"></span>
    <label for="alignment">Alignment</label>
    <input type="text" th:field="*{alignment}" id="alignment" placeholder="Alignment">
    <span th:if="${#fields.hasErrors('alignment')}" th:errors="*{alignment}"></span>
    <label for="weight">Weight</label>
    <input type="text" th:field="*{weight}" id="weight" placeholder="Weight">
    <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
    <input type="submit" value="Create">
</form>
</body>
</html>