<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" method="post" th:action="@{/add}" th:object="${hero}">
    <label for="name">Name</label>
    <input id="name" placeholder="Name" th:field="*{name}" type="text">
    <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
    <label for="gender">Gender</label>
    <input id="gender" placeholder="Gender" th:field="*{gender}" type="text">
    <span th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></span>
    <label for="eyeColor">Eye Color</label>
    <input id="eyeColor" placeholder="Eye Color" th:field="*{eyeColor}" type="text">
    <span th:errors="*{EyeColor}" th:if="${#fields.hasErrors('eyeColor')}"></span>
    <label for="race">Race</label>
    <input id="race" placeholder="Race" th:field="*{race}" type="text">
    <span th:errors="*{race}" th:if="${#fields.hasErrors('race')}"></span>
    <label for="hairColor">Hair Color</label>
    <input id="hairColor" placeholder="Hair Color" th:field="*{hairColor}" type="text">
    <span th:errors="*{hairColor}" th:if="${#fields.hasErrors('hairColor')}"></span>
    <label for="height">Height</label>
    <input id="height" placeholder="Height" th:field="*{height}" type="text">
    <span th:errors="*{height}" th:if="${#fields.hasErrors('height')}"></span>
    <label for="skinColor">Skin Color</label>
    <input id="skinColor" placeholder="Skin Color" th:field="*{skinColor}" type="text">
    <span th:errors="*{skinColor}" th:if="${#fields.hasErrors('skinColor')}"></span>
    <label for="alignment">Alignment</label>
    <input id="alignment" placeholder="Alignment" th:field="*{alignment}" type="text">
    <span th:errors="*{alignment}" th:if="${#fields.hasErrors('alignment')}"></span>
    <label for="weight">Weight</label>
    <input id="weight" placeholder="Weight" th:field="*{weight}" type="text">
    <span th:errors="*{weight}" th:if="${#fields.hasErrors('weight')}"></span>
    <input type="submit" value="Create">
</form>
</body>
</html>